<div ng-controller="HomeController">
    <h2>Números Gerados Aleatóriamente</h2>

    <span ng-repeat=" number in randomNumbers">{{ number }} </span>

    <h2>Resultados da LotoMania</h2>
    <p>
        Os números da ultimo jogo da LotoMania sorteados foram:
    </p>

    <div>
        <span ng-repeat="r in resultOfLotoMania.concurso.dezenas">{{ r }} </span>
    </div>

    <p>
        Tivemos uma arrecadação da LotoMania de {{ resultOfLotoMania.concurso.arrecadacao_total }}.
    </p>

    <p>
        Para quem teve 0 acertos tivemos um total de {{ resultOfLotoMania.concurso.premiacao.acertos_0.ganhadores }} ganhadores e cada um deles ganharam R${{ resultOfLotoMania.concurso.premiacao.acertos_0.valor_pago }}.
    </p>

    <p>
        Para quem teve 16 acertos tivemos um total de {{ resultOfLotoMania.concurso.premiacao.acertos_16.ganhadores }} ganhadores e cada um deles ganharam R${{ resultOfLotoMania.concurso.premiacao.acertos_16.valor_pago }}.
    </p>

    <p>
        Para quem teve 17 acertos tivemos um total de {{ resultOfLotoMania.concurso.premiacao.acertos_17.ganhadores }} ganhadores e cada um deles ganharam R${{ resultOfLotoMania.concurso.premiacao.acertos_17.valor_pago }}.
    </p>

    <p>
        Para quem teve 18 acertos tivemos um total de {{ resultOfLotoMania.concurso.premiacao.acertos_18.ganhadores }} ganhadores e cada um deles ganharam R${{ resultOfLotoMania.concurso.premiacao.acertos_18.valor_pago }}.
    </p>

    <p>
        Para quem teve 19 acertos tivemos um total de {{ resultOfLotoMania.concurso.premiacao.acertos_19.ganhadores }} ganhadores e cada um deles ganharam R${{ resultOfLotoMania.concurso.premiacao.acertos_19.valor_pago }}.
    </p>

    <p>
        Para quem teve 20 acertos tivemos um total de {{ resultOfLotoMania.concurso.premiacao.acertos_20.ganhadores }} ganhadores e cada um deles ganharam R${{ resultOfLotoMania.concurso.premiacao.acertos_20.valor_pago }}.
    </p>

    <p>
        Tivemos um valor acumulado de R${{ resultOfLotoMania.concurso.valor_acumulado }}. E o próximo concurso que será realizado {{ resultOfLotoMania.proximo_concurso.data }} terá um valor estimado de R${{ resultOfLotoMania.proximo_concurso.valor_estimado }}.
    </p>
</div>